In [ ]:
#question.1
dic = {'first_name' : 'zain' , 'last_name' : 'bin kamran' , 'age' : 21 , 'city' : 'karachi' }
print(dic)
dic['qualification'] = 'olevel'
print(dic)
dic['qualification'] = 'bachelors'
print(dic)
del dic ['qualification']
print(dic)

In [ ]:
#question.2
cities_info = { 'karachi' : { 'country' : 'pakistan',
               'population' : '2.5 crore',
                'fact': 'city of lights',},
               
               'paris' : {'country' : 'france',
               'population' : '2.1 million',
               'fact': 'city of beauty',}  , 
               
               'london' : { 'country' : 'uk',
                'population' : '2.4 million',
                'fact': 'city of business'},
                }
            
for k , v in cities_info.items():
               print('city name : ' + k )
               print('country  : ' + v['country'])
               print('population : ' + v['population'] )
               print('fact  : ' +  v['fact'])

In [5]:
#question.3
a = 0
while a < 1 :
    age = input('enter ur age : ')
    age = int(age)
    if age < 3:
        print('ur ticket price is : 0' )
        a = 1
    elif age >= 3 and  age <= 12:
        print('ur ticket price is : $12')
        a = 1
    elif age > 12:
        print('ur ticket price is : $15')
        a = 1

enter ur age : 10
ur ticket price is : $12

In [ ]:
#question.4
def favourite_book(title):
    print('one of my fav book is ' + title)
    
favourite_book('Alice in WonderLand')

In [5]:
#question.5
l1 = 15
i = 0 
while i < 3:
    a = input('enter ur number : ')
    a = int(a)
    i += 1
    if  a == l1:
        print('correct answer ')
        break
    if a < l1:
        print('u enter number is closer but smaller : ')
    if a > l1:
        print('ur enter number  is closer but larger  : ')

enter ur number : 14
u enter number is closer but smaller :
enter ur number : 16
ur enter number  is closer but larger  :
enter ur number : 15
correct answer